*.o
*~
/dev/src/lobster

*.suo
*.vcxproj.user

*.lbc
*.exp
*.iobj
*.ipdb
*.lib

.DS_Store
*.xcodeproj/
!*.xcodeproj/project.pbxproj

/projects/
/material/
/build/
/external/

/lobster/lobsterDBG.*

/dev/android/assets/
/dev/android/VS/LobsterAndroid/Tegra-Android/Debug/
/dev/android/VS/LobsterAndroid/Tegra-Android/Release/
/dev/android/obj/
/dev/android/libs/
/dev/android/bin/
/dev/android/gen/
/dev/android/Android-VS/x86/
/dev/android/Android-VS/ARM/
/dev/lobster/ARM/

/dev/CMakeCache.txt
/dev/CMakeFiles/
/dev/Makefile
/dev/cmake_install.cmake
/dev/CMakeLists.txt.user
/dev/Lobster.cbp

/lobster/lobster_linux
