*.o
*~
/dev/src/lobster

*.suo
*.vcxproj.user
.vscode/

*.lbc
*.exp
*.iobj
*.ipdb
*.a
*.pdb
*.ilk

.DS_Store
*.xcodeproj/
!*.xcodeproj/project.pbxproj

/projects/
/material/
/build/
/external/

/lobster/lobsterDBG.*
/lobster/lobster
**/lobster.lib

/dev/android/assets/
/dev/android/VS/LobsterAndroid/Tegra-Android/Debug/
/dev/android/VS/LobsterAndroid/Tegra-Android/Release/
/dev/android/obj/
/dev/android/libs/
/dev/android/bin/
/dev/android/gen/
/dev/android/apks/
/dev/android/Android-VS/x86/
/dev/android/Android-VS/ARM/
/dev/lobster/ARM/

/dev/emscripten/assets/
/dev/emscripten/*.js
/dev/emscripten/*.html
/dev/emscripten/*.data
/dev/emscripten/*.map
/dev/emscripten/*.mem

/dev/CMakeCache.txt
/dev/CMakeFiles/
/dev/Makefile
/dev/cmake_install.cmake
/dev/CMakeLists.txt.user
/dev/Lobster.cbp

/dev/external/SDL/CMakeFiles/
/dev/external/SDL/Makefile
/dev/external/SDL/SDL2.spec
/dev/external/SDL/sdl2-config
/dev/external/SDL/sdl2.pc
/dev/external/SDL/*.cmake

/lobster/lobster_linux
/lobster/lobster_cmake

