*.o
*~

*.suo
*.vcxproj.user
.vscode/

*.lbc
*.exp
*.iobj
*.ipdb
*.a
*.pdb
*.ilk
*.bmp

.DS_Store
*.xcodeproj/
!*.xcodeproj/project.pbxproj

/projects/
/material/
/build/
/external/


/dev/android/assets/
/dev/android/VS/LobsterAndroid/Tegra-Android/Debug/
/dev/android/VS/LobsterAndroid/Tegra-Android/Release/
/dev/android/obj/
/dev/android/libs/
/dev/android/bin/
/dev/android/gen/
/dev/android/apks/
/dev/android/Android-VS/x86/
/dev/android/Android-VS/ARM/

/dev/lobster/ARM/
/dev/lobster/.vs/

/dev/emscripten/assets/
/dev/emscripten/*.js
/dev/emscripten/*.html
/dev/emscripten/*.data
/dev/emscripten/*.map
/dev/emscripten/*.mem
/dev/emscripten/*.wasm
/dev/emscripten/*.wast
/dev/emscripten/*.wasm.pre
/dev/emscripten/*.wast.mappedGlobals

/dev/CMakeCache.txt
/dev/CMakeFiles/
/dev/Makefile
/dev/cmake_install.cmake
/dev/SDL2ConfigVersion.cmake
/dev/CMakeLists.txt.user
/dev/Lobster.cbp

/dev/external/SDL/CMakeFiles/
/dev/external/SDL/Makefile
/dev/external/SDL/SDL2.spec
/dev/external/SDL/sdl2-config
/dev/external/SDL/sdl2.pc
/dev/external/SDL/*.cmake

/bin/lobster_linux
/bin/lobster
/bin/compiled_lobster
/bin/lobster\.exe
/bin/lobsterDBG.*
**/lobster.lib


dev/compiled_lobster/src/compiled_lobster\.cpp


*.tmp

dev/compiled_lobster/compiled_lobster/x64/Debug/
dev/compiled_lobster/compiled_lobster/x64/Release/
dev/compiled_lobster/build/

/dev/xcode/lobster/build/**
/dev/.idea/**

/dev/cmake-build-debug/**

**/imgui.ini

\.vs/slnx\.sqlite

\.vs/
